<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-body">
                <h4 class="m-b-0 text-white">Datos de producto</h4>
                <form class="form-horizontal p-t-20" 
                      [formGroup]="productoForm"
                      (submit)="guardarProducto()">
                    <div class="form-body">
                        <!--/section data-->
                        <h3 class="box-title">Información general</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Código interno</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="codigo">
                                </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Matrícula</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="matricula">
                                                <small class="form-control-feedback text-danger"> Obligatorio. </small>
                                         </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Descripción</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="descripcion">
                                                <small class="form-control-feedback text-danger"> Obligatorio. </small>
                                        </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Tipo de repuesto</label>
                                    <div class="col-md-9">
                                         <select class="form-control"
                                                formControlName="tipo_repuesto"
                                                data-placeholder="--seleccione--">
                                            <option value="">--seleccione--</option>
                                            <option *ngFor="let tipo of tipos_repuesto" value="{{tipo.id}}">{{tipo.descripcion}}</option>
                                        </select>
                                        <small class="form-control-feedback text-danger"> Obligatorio. </small>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Marca</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="marca">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Modelo</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="modelo">
                                      </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Procedencia</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="procedencia">
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->
                        <!--/section data-->
                        <h3 class="box-title">Información de inventario</h3>
                        <hr class="m-t-0 m-b-40">
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Stock</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="stock">
                                                <small class="form-control-feedback text-danger"> Obligatorio. </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Stock mínimo</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="stock_minimo">
                                                <small class="form-control-feedback text-danger"> Obligatorio. </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Costo</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="costo">
                                                <small class="form-control-feedback text-danger"> Obligatorio. </small>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Precio</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="precio">
                                                <small class="form-control-feedback text-success"> Obligatorio. </small>
                                    </div>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Unidad</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                class="form-control"
                                                formControlName="unidad">
                                                <small class="form-control-feedback text-danger"> Obligatorio. </small>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Proveedor</label>
                                    <div class="col-md-9">
                                        <select class="form-control"
                                                formControlName="proveedor"
                                                data-placeholder="--seleccione--">
                                            <option value="">--seleccione--</option>
                                            <option *ngFor="let proveedor of proveedores" value="{{proveedor.id}}">{{proveedor.razon_social}}</option>
                                        </select>
                                        <small class="form-control-feedback text-danger"> Obligatorio. </small>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row text-right">
                                <div class="col-md-offset-3 col-md">
                                    Última modificación por <span class="label label-danger">{{usuarioRegistro}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" 
                                                class="btn btn-success mr-1"
                                                [disabled]="productoForm.invalid">Guardar</button>
                                        <button type="button" class="btn btn-inverse" onclick="reset()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>