<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                        class="form-control"
                        placeholder="Buscar producto..."
                        (keyup)="buscar(txtBusqueda.value)"
                        #txtBusqueda/>
                        <small class="form-control-feedback text-danger"> Se buscarán coincidencias del término ingresado en los campos: código, matrícula, descripción y modelo. </small>
            </div>
        </div>
    </div>
</div> 

<div class="row animated fadeIn fast"
    *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>


<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div *ngIf="nivelUsuario=='ADMIN_ROLE'" class="row">
                    <div class="col">
                        <div class="text-right mb-3">
                            <a class="btn btn-primary"
                             routerLink="/dashboard/productos/nuevo">
                                <i class="fa fa-hospital-o"></i>
                                Crear Producto
                            </a>
                        </div>    
                    </div>
                 </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Código</th>
                                <th>Matrícula</th>
                                <th>Tipo de repuesto</th>
                                <th>Modelo</th>
                                <th>Precio</th>
                                <!-- <th>Orden</th> -->
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos; index as i">
                                <td>{{i+1}}</td>
                                <td>{{producto.codigo}}</td>
                                <td>{{producto.matricula}}</td>
                                <td>{{producto.tipo_repuesto.descripcion}}</td>
                                <td>{{producto.modelo}}</td>
                                <td>$ {{producto.precio}}</td>
                                <td class="text-nowrap text-center">
                                    <a *ngIf="nivelUsuario=='ADMIN_ROLE'" [routerLink]="['/dashboard/productos/', producto._id]" 
                                       data-toggle="tooltip" 
                                       data-original-title="Edit">
                                       <i class="fa fa-pencil text-inverse m-r-10"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- <div *ngIf="txtBusqueda.value.length===0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
                </div>                 -->
            </div>
        </div>
    </div>
</div>